{{#page-header title='About' description='Everything you wanted to know about us'}}

    <p>
        Met <strong>MijnBegroting</strong> kunnen burgers op een interactieve manier over de gemeentelijke begroting meepraten en adviseren. Wat vinden zij belangrijk? Waar willen zij op besparen? Waar moet meer geld heen? Het wordt voor burgers inzichtelijk wat de mogelijkheden zijn, maar ook waar de beperkingen liggen. Gebruikers kunnen hun tegenbegroting delen op social media, een begroting van iemand anders steunen en met elkaar het debat aangaan over de uitgaven van de lokale overheid.
    </p>

    <p>
        De tool maakt gebruik van de datasets op <a href="http://openspending.nl" target="_blank">OpenSpending</a>. Overheidsklanten van de <a href="http://www.socioneers.com" target="_blank">Socioneers</a> geven namelijk aan dat burgers behoefte hebben om invloed uit te oefenen op de gemeentelijke begroting. Andersom wil de gemeente ook gebruik maken van de kennis van de wensen van burgers om zo de begroting om zo meer lokaal draagvlak te creëren. Kortom: deze app geeft nieuwe functionaliteiten aan de datasets van <a href="http://openspending.nl" target="_blank">OpenSpending</a> en levert een zo een bijdrage aan de verantwoording van geldstromen en prestaties van de overheid door middel van het ontwikkelen van deze participatie tool voor burgers.
    </p>

    <h2>Team</h2>

    <p>
        MijnBegroting is een initiatief van de <a href="http://www.socioneers.com" target="_blank">Socioneers</a> en <a href="http://demo.participation.tools" target="_blank">Participatie.Tools</a>. De team bestaat uit de volgende mensen:
    </p>

    <ul>
        <li>Raoul Kramer</li>
        <li>Mieke Zagt</li>
        <li>Kiffin Gish</li>
        <li>Michael Nieuwenweg</li>
        <li>Rob Thijs</li>
        <li>Jan-Maarten van den Oever</li>
    </ul>

{{/page-header}}
