{{#page-header title='Contact' description='Feel free to get a hold of us anytime'}}
    <p class="textalign-center">{{fa-icon 'envelope-o'}} &nbsp; <a href="mailto:kiffin@gishtech.com">kiffin@gishtech.com</a></p>
    <p class="textalign-center">{{fa-icon 'phone'}} &nbsp; <a href="tel:+31657552871">+31 65 75 52 871</a></p>
    <p class="textalign-center">{{fa-icon 'university'}} &nbsp; KvK 65852699</p>
{{/page-header}}
