{{#page-header title='Credits' description='Special thanks go to the following sources'}}

<ul>
    <li><a href="http://www.socioneers.com" target="_blank">Socioneers</a></li>
    <li><a href="http://www.openspending.nl" target="_blank">OpenSpending</a></li>
    <li><a href="https://www.emberjs.com" target="_blank">Emberjs</a></li>
    <li><a href="https://v4-alpha.getbootstrap.com/" target="_blank">Bootstrap</a></li>
    <li><a href="http://sass-lang.com/" target="_blank">Sass</a></li>
    <li><a href="http://fontawesome.io/icons/" target="_blank">Fontawesome</a></li>
    <li><a href="https://d3js.org" target="_blank">D3.js</a></li>
    <li><a href="http://d3pie.org" target="_blank">D3Pie.js</a></li>
    <li><a href="https://github.com/thefrontside/emberx-range-input" target="_blank">Emberx Range Input</a></li>
</ul>

{{/page-header}}
