{{#page-header title='Credits' description='Special thanks go to the following sources'}}

<ul>
    <li><a href="http://www.socioneers.com" target="_blank">Socioneers</a></li>
    <li><a href="https://www.emberjs.com" target="_blank">Emberjs</a></li>
    <li><a href="https://v4-alpha.getbootstrap.com/" target="_blank">Bootstrap</a></li>
    <li><a href="http://sass-lang.com/" target="_blank">Sass</a></li>
    <li><a href="http://fontawesome.io/icons/" target="_blank">Fontawesome</a></li>
</ul>

{{/page-header}}
