{{#page-header title='Home' description='Welcome to the wonderful world of open data'}}
    <p>This is your starting point for exploring MijnBegroting. In order to continue, please select one of the items from the navigation bar above.</p>
{{/page-header}}
